reproducible builds

chez compilation doesn't seem to produce the same output when invoked multiple times on the same file.

even the size of the result is changing:

```
-rwxr-xr-x 1 alendvai users 5699005 Oct  8 01:44 idris2.so
-rwxr-xr-x 1 alendvai users 5699020 Oct  8 01:21 idris2.so.1
-rwxr-xr-x 1 alendvai users 5699012 Oct  8 01:35 idris2.so.2
-rwxr-xr-x 1 alendvai users 5699004 Oct  8 01:36 idris2.so.3
```

i'm willing to look into it, but first i'd like to ask whether there was any effort made to achieve reproducible builds?

If developers are willing to use $fasl-file-equal? (which should probably be surfaced in any case as a user-level primitive) rather than 'cmp' to compare binary output, that should work.  In effect, $fasl-file-equal? attempts to unify the two files with respect to generated names, so it is the same as straight binary identity with each gensym in one file replaced by the same gensym in the other file.

I have some interest in this because I've contributed to the Chez Scheme package for [Guix](https://arxiv.org/pdf/1305.4584.pdf) (a user-level package manager and full system distribution), which benefits greatly from byte-for-byte reproducible build to enable its "purely functional" features.

If I understand correctly, the issue (or at least part of it) is that Chez Scheme uses UUIDs for gensyms, including in generative record types. In particular, at least since <https://github.com/cisco/ChezScheme/commit/2fd3db68230d094a0d396348a8140a4d3693b120>/<https://github.com/cisco/ChezScheme/issues/338>, these are fully random "type 4" UUIDs.

I wonder if "type 5" UUIDs (RFC 4122 §4.3), which are deterministically generated based on a name in some conceptual "namespace", could be useful for making byte-for-byte equivalent object files. I'm not sure I fully understand all the nuances of Chez Scheme's use of gensyms, but I could imagine, for example, a tool that would rewrite object files to give the gensym's predictable names (perhaps incorporating a hash of the source file or something to help prevent collisions).

I've looked at this a bit more, and I think I can see a strategy for gensyms work with reproducible builds.

As I understand this code:

https://github.com/cisco/ChezScheme/blob/8c5f5cc27cf8f2b432aafc4f2fc640435294b74a/s/5_7.ss#L87-L129

Chez only calls `unique_id` (the C function that calls libuuid or whatever) once per process, to initialize `$session-key`. Unique names for gensyms are formed by concatenating the session key with a counter.

We can take inspiration from the way `pretty/suffix` printing mode recognizes gensyms from the current session:

https://github.com/cisco/ChezScheme/blob/8c5f5cc27cf8f2b432aafc4f2fc640435294b74a/s/print.ss#L634-L648

Before starting to compile some compilation unit, we could use set-up code like this to recognize gensyms forced after starting that compilation unit:
```scheme
(define (gensym->counter g)
  (let ((u (gensym->unique-string g)))
    (string->number
     (substring u (string-length #%$session-key) (string-length u)))))
(define canary
  (gensym "canary"))
(define canary-counter
  (gensym->counter canary))
(define (gensym-after-canary? g)
  (and (equal? #%$session-key
               (substring (gensym->unique-string g)
                          0 (string-length #%$session-key)))
       (< canary-counter (gensym->counter g))))
```

My thinking is that we could compile the compilation unit to a fasl file as usual. Next, we'd rewrite the fasl file (perhaps reusing [`strip-fasl-file`](https://github.com/cisco/ChezScheme/blob/8c5f5cc27cf8f2b432aafc4f2fc640435294b74a/s/strip.ss#L696)) to replace the unique names from the session with a well-known session key, say `"chez0strip0in0progress123-"`, and deterministic counter values. Then we'd hash this intermediate fasl file to derive a reproducible session key. Finally, we'd rewrite the file again to use the reproducible session key.

Maybe all of the compilation procedures should embed the "canary" gensym (and maybe also a canary for the end of compilation?) in the object files they generate, so `strip-object-file` would have the information available to use later.

One thing I've left a bit vague in the above is what a "compilation unit" is. Also, I mostly use Chez Scheme through Racket, so I'm less sure about nuances that might arise from other use patterns.

For reproducible builds required by nix-family of OS, that is relatable to @attila-lendvai use case: adding a parameter to set the random seed of `unique_id` so that the binaries produced by Chez's `compile-qux` are byte-by-byte identical (except for timestamps embedded by macros...). The problem with that is the binary; hence the program will weaker security wise.

For online trust [0], having a procedure such as `(fasl-file-hash... nonce [fasl-object])` where `NONCE` is a globally unique bytevector provided by the user, and `FASL-OBJECT` an optional argument with the current running program as default, that replaces any `gensym` output in `FASL-OBJECT` with one and only one value. `fasl-file-hash` will produce a hash that can be compared by the user to the hash they produced locally with the program they compiled themselves.

[0] the client wants a proof that the output is the result of the agreed upon, and peer reviewed algorithm, without necessarily having to go through the woops of making EVERYTHING public, or heat ASIC at great cost.